<div class="title">
  section works!

  <div class="flex-display">
    <app-time-display></app-time-display>

    <!--
      IF separate time-display and buttons,
      using variable and event binding like below.
    -->
    <!-- <app-time-display [inputData]="present"></app-time-display> -->
    <!-- <app-buttons (clickEvent)="executeButton($event)"></app-buttons> -->
  </div>

  <!-- <a [routerLink]="'/clock'">go to clock</a>
  <br /> -->

  <button (click)="goClock()">goClock()</button>

</div>
