<h3 class="content-title">Page Title</h3>
<p class="content-subtitle typography typo-sub1">Page sub-title here and explain about this page.</p>
<mat-card>
  <mat-card-header>
    <mat-card-title>Main Card Title</mat-card-title>
    <mat-card-subtitle>main card sub-title</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum odio dolor maxime, dolore iure doloremque,
      fugit rem sint soluta et, quae in perspiciatis vel sunt modi optio. Cumque laudantium magni, dolorum ipsa
      in, similique suscipit voluptatem debitis harum corporis tempora vero, adipisci sed minus? Iste placeat
      quibusdam aperiam beatae nam?
    </p>
  </mat-card-content>
</mat-card>
