.mat-button-base {
  padding: 0 16px;
  line-height: 40px;
  font-size: 12.25px;
  font-family: 'SpoqaHanSansNeo', "Helvetica Neue", sans-serif;
  color: var(--primary-main);
  border-color: var(--primary-main);
  border-radius: 8px;
}
